.cardContainer{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px 3px rgba(0,0,0,0.1);
    border-radius: 7px;
    flex-wrap: wrap;
    margin: 0;
    width:300px;
    height: 400px;
    justify-content: center;
     /* Space between cards */
    padding: 10px; /* Padding around the card container */  
}
.cardContainer img{
    width: 100%;
    margin: 0;
    border-radius: 7px;
    height: 200px;
}