.addItem_container{
    /* margin: auto; */
    border-radius: 5px;
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.5);;
    padding:10px;
    min-height: 50%;
    min-width: 50%;
    margin-left: 525px;
    line-height: 1.5;
    
    margin-bottom: 1.5rem;
}
.form form {
    display:flex;
    flex-direction: column;
    /* gap:2px; */
}
.form form input{
    border-radius: 7px;
    border: none;
    background-color: rgb(230, 230, 230);
    height: 25px;
}
textarea{
    border-radius: 7px;
    border: none;
    background-color: rgb(230, 230, 230);
    height: 100px;
    resize: none;
}
.checkbox{
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.submit{
    margin-top: 10px;
    border-radius: 7px;
    border: none;
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}
.submit:hover{
    border: 1px solid black;
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}
/* .addItem_container form{
    display: flex;
    flex-direction: column;
} */