.header_container{
   top: 0;
   z-index: 1000;
}
.navigation{
    position: fixed;
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding:10px ;
    background-color: rgba(52, 243, 52, 0.792);
}
.logo a{
    font-size: 1.9rem;
    display: flex;
    align-items: center;
    margin-left: -200px;
    color: #222;
    text-decoration: none;
}
.navigation ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}
.navigation ul li a{
    font-size: 1.2rem;
    color: #222;
    text-decoration: none;
}
.navigation ul li a:hover{
    background-color: rgb(34, 34, 34,0.2);
    border-radius: 10px;
    padding: 5px;
}