.home_container {
   display: flex;
   flex-direction: column;
   min-height: 80vh;
   width: 100vw; /* Use viewport width */
   box-sizing: border-box;
   margin-bottom: 10px;
}

.header h2{
    text-align: center;
    margin: 20px 0; /* adds some space around the header */
    color: #333; /* sets a dark color for the text */
   
}
.home_content{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    gap: 20px; /* adds space between items */
    flex-wrap: wrap; /* allows items to wrap to the next line */

}
